{% extends "Base/base.html" %}

{% block content %}
<style>
    /* Appliquer HelveticaNeue à l'ensemble du bloc de contenu */
    body {
        font-family: 'HelveticaNeue', sans-serif;
    }

    /* Style personnalisé pour les boutons */
    .btn-custom {
        background-color: #072C84;
        color: white;
        font-family: 'HelveticaNeue', sans-serif; /* Assurez-vous que la police est également appliquée ici */
    }

    /* Autres styles pour le tableau, titres, etc. */
    h4, h6 {
        font-family: 'HelveticaNeue', sans-serif;
    }
</style>
  <h2>Changer le mot de passe</h2>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group">
      {{ form.new_password1.label_tag }}
      {{ form.new_password1 }}
      <small class="form-text text-muted">{{ form.new_password1.help_text }}</small>
      {% if form.new_password1.errors %}
          <div class="invalid-feedback">
              {% for error in form.new_password1.errors %}
                  <div>{{ error }}</div>
              {% endfor %}
          </div>
      {% endif %}
  </div>
  <div class="form-group">
      {{ form.new_password2.label_tag }}
      {{ form.new_password2 }}
      <small class="form-text text-muted">{{ form.new_password2.help_text }}</small>
      {% if form.new_password2.errors %}
          <div class="invalid-feedback">
              {% for error in form.new_password2.errors %}
                  <div>{{ error }}</div>
              {% endfor %}
          </div>
      {% endif %}
  </div>
    <button type="submit">Sauvegarder les modifications</button>
  </form>
{% endblock %}
