{% extends 'Base/base.html' %}

{% block content %}
    <!-- start page title -->
    <style>
        /* Appliquer HelveticaNeue à l'ensemble du bloc de contenu */
        body {
            font-family: 'HelveticaNeue', sans-serif;
        }
    
        /* Style personnalisé pour les boutons */
        .btn-custom {
            background-color: #072C84;
            color: white;
            font-family: 'HelveticaNeue', sans-serif; /* Assurez-vous que la police est également appliquée ici */
        }
    
        /* Autres styles pour le tableau, titres, etc. */
        h4, h6 {
            font-family: 'HelveticaNeue', sans-serif;
        }
    </style>
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">KHAGest</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="{% url 'liste_comptes_prets' %}">Comptes de Prêts</a></li>
                        <li class="breadcrumb-item active">Ajouter un Compte de Prêt</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    {% if etud %}
                    <h4 class="card-title mb-4">Formulaire d'Ajout de Compte de Prêt / <span class="badge badge-pill badge-soft-danger font-size-11">{{ etud.0.nom }} {{ etud.0.prenom }}</span></h4>
                    {% endif %}

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group" hidden>
                            <label for="id_client">Client</label>
                            {{ compte_pret_form.actionnaire }}
                        </div>
                        <div class="form-group" hidden>
                            <label for="id_taux_interet">Taux d'Intérêt</label>
                            {{ compte_pret_form.taux_interet }}
                        </div>
                        <div class="col-md-8" hidden>
                            <div class="mb-3">
                                <label for="formrow-email-input" class="form-label">Type pret</label>
                                {{ compte_pret_form.type_pret }}
                            </div>
                        </div>
                        <div class="row">

                            <!-- MAJ JANV -->
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="formrow-email-input" class="form-label">Type client</label>
                                    {{ compte_pret_form.type_client }}
                                </div>
                            </div>
                            <!-- MAJ JANV -->

                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="formrow-email-input" class="form-label">Durée en Mois</label>
                                    {{ compte_pret_form.duree_en_mois }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label for="formrow-email-input" class="form-label">Date de Début de Prêt</label>
                                    {{ compte_pret_form.date_debut_pret }}
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="id_somme_initiale" class="form-label">Montant souhaité</label>
                                    {{ compte_pret_form.somme_initiale }}
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="formrow-email-input" class="form-label">Numéro Money bank</label>
                                    {{ compte_pret_form.domicile_bancaire }}
                                </div>
                            </div>
                        </div>








                        <div class="mt-4 hstack gap-2">
                            <button type="submit" class="btn btn-soft-success w-100" >Valider</button>
                            <a class="btn btn-soft-primary w-100" href="{% url 'liste_comptes_pretsactenc' %}">Retour en Arrière</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script>
        function updateDateFin() {
            const dateDebutPret = new Date(document.getElementById('id_date_debut_pret').value);
            const dureeEnMois = parseInt(document.getElementById('id_duree_en_mois').value);
            const dateFinPret = new Date(dateDebutPret);
            dateFinPret.setMonth(dateDebutPret.getMonth() + dureeEnMois);
            document.getElementById('id_date_fin_pret').valueAsDate = dateFinPret;
        }

        updateDateFin();
        document.getElementById('id_duree_en_mois').addEventListener('input', updateDateFin);
    </script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                const sommeInitialeInput = document.getElementById('id_somme_initiale');
                const submitBtn = document.getElementById('submitBtn');

                sommeInitialeInput.addEventListener('input', function() {
                    const sommeInitialeValue = parseFloat(sommeInitialeInput.value);
                    if (isNaN(sommeInitialeValue) || sommeInitialeValue <= 0) {
                        submitBtn.disabled = true;
                    } else {
                        submitBtn.disabled = false;
                    }
                });
            });
            </script>




{% endblock content %}
