{% extends 'Base/base.html' %}

{% block content %}
 <!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">KHA Coop</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'menu' %}">Accueil</a></li>
                    <li class="breadcrumb-item active">Historique des échéances payées</li>
                </ol>
            </div>

        </div>
    </div>
</div>
<!-- end page title -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                      <h6 class="mb-0">Consulter la liste des échéances payées des clients</h6>
                    </div>
                    <div class="col-6 text-end">
                      
                    </div>
                  </div><br><br>
                  <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Téléphone</th>
            <th>Numéro de compte prêt</th>
            <th>Mode de paiement</th>
            <th>Date d'échéance</th>
            <th>Montant de l'échéance</th>
            <th>Taches</th>
        </tr>
    </thead>
    <tbody>
        {% for echeance in echeances_non_payees %}
        <tr>
            <td>{{ echeance.compte_pret.client.nom }}</td>
            <td>{{ echeance.compte_pret.client.prenom }}</td>
            <td>{{ echeance.compte_pret.client.telephone }}</td>
            <td>{{ echeance.compte_pret.numero_compte }}</td>
            <td>{{ echeance.compte_pret.type_client }}</td>
            <td>{{ echeance.date_echeance }}</td>
            <td>{{ echeance.montant_echeance }}</td>
            <td>
                <form method="post" action="{% url 'annuler_est_payere' echeance.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir marquer cette échéance comme non payée ?')">Marquer comme non payé</button>
                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">Aucune échéance non payée.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>



</div>
</div>
</div> <!-- end col -->
</div> <!-- end row -->
{% endblock content %}
