{% extends 'Base/base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">KHAGest</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'menu' %}">Accueil</a></li>
                    <li class="breadcrumb-item active">Liste des Transactions</li>
                </ol>
            </div> 
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                
                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                        <h6 class="mb-0">Liste des Transactions des Comptes d'Épargne</h6>
                    </div>
                    
                </div><br><br>
                    <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                        <thead class="table-light">
                            <tr>
                                <th>Numéro de Transaction</th>
                                <th>Date de Transaction</th>
                                <th>Montant</th>
                                <th>Type de Transaction</th>
                                <th>Taches</th>
                                <!-- Ajoutez d'autres colonnes de détails de transaction ici -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in transactions %}
                            <tr>
                                <td>{{ transaction.id }}</td>
                                <td>{{ transaction.date_transaction }}</td>
                                <td>{{ transaction.montant }}</td>
                                <td>{{ transaction.type_transaction }}</td>
                                <!-- Ajoutez d'autres colonnes de détails de transaction ici -->
                                <td class="text-end">
                                    <div class="btn-group">
                                        <button class="btn btn-secondary btn-sm" type="button">
                                            Actions
                                        </button>
                                        <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                            <iconify-icon icon="mdi:chevron-down-circle"></iconify-icon>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{% url 'modifier_transaction_epargne' transaction.id %}">Modifier</a>
                                            <a class="dropdown-item" href="{% url 'supprimer_transaction_epargne' transaction.id %}">Supprimer</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">Aucune transaction disponible.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div> 
           
        </div>
    </div>
</div> 
{% endblock content %}
