{% extends 'Base/base.html' %}

{% block content %}
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                <h4 class="mb-sm-0 font-size-18">KHA Coop</h4>

                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="">Transactions</a></li>
                        <li class="breadcrumb-item active">Modifier une Transaction</li>
                    </ol>
                </div>
            </div> 
        </div>
    </div>
    <!-- end page title -->

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title mb-4">Formulaire de Modification de Transaction Épargne Sous Coopérateur</h4>

                    <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="{{ transaction_form.montant.id_for_label }}">Montant :</label>
                                {{ transaction_form.montant }}
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="mb-3">
                                <label for="{{ transaction_form.type_transaction.id_for_label }}">Type de transaction :</label>
                                {{ transaction_form.type_transaction }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group" hidden>
                        <label for="{{ transaction_form.date_transaction.id_for_label }}">Date de transaction :</label>
                        {{ transaction_form.date_transaction }}
                    </div>
                    <div class="form-group" hidden>
                        <label for="{{ transaction_form.compte_epargne.id_for_label }}">Compte épargne :</label>
                        {{ transaction_form.compte_epargne }}
                    </div>
                    <div class="form-group" hidden>
                        <label for="{{ transaction_form.agent.id_for_label }}">Agent :</label>
                        {{ transaction_form.agent }}
                    </div>
                     
                    <div class="mt-4 hstack gap-2">
                        <button type="submit" class="btn btn-soft-success w-100">Modifier</button>
                        <a class="btn btn-soft-primary w-100" href="{% url 'liste_transactionsepargne' %}">Retour en Arrière</a>
                    </div>
                </form>
            </div>
        </div> 
    </div>
</div>
{% endblock content %}