{% extends 'Base/base.html' %}

{% block content %}
<style>
    /* Appliquer HelveticaNeue à l'ensemble du bloc de contenu */
    body {
        font-family: 'HelveticaNeue', sans-serif;
    }

    /* Style personnalisé pour les boutons */
    .btn-custom {
        background-color: #072C84;
        color: white;
        font-family: 'HelveticaNeue', sans-serif; /* Assurez-vous que la police est également appliquée ici */
    }

    /* Autres styles pour le tableau, titres, etc. */
    h4, h6 {
        font-family: 'HelveticaNeue', sans-serif;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Enregistrer une presentation</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'liste_presentation' %}">Presentation</a></li>
                    <li class="breadcrumb-item active">Créer</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title mb-4">Formulaire de validation</h4>
                <form method="post" enctype="multipart/form-data">
                    
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="mb-3">
                                    <label class="form-label">logo</label>
                                    {{ form.logo }}
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="mb-3">
                                    <label class="form-label">Publicité</label>
                                    {{ form.pub }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mb-3">
                                    <label class="form-label">Contact Téléphonique:</label>
                                    {{ form.contact }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Texte de Présentation:</label>
                                    {{ form.presentation_text }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Message de Bienvenue:</label>
                                    {{ form.welcome_message }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-3">
                                    <label class="form-label">Vidéo (URL):</label>
                                    {{ form.video_url }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 hstack gap-2">
                        <button type="submit" class="btn btn-soft-success w-100">Valider</button>
                        <a class="btn btn-soft-primary w-100" href="{% url 'liste_presentation' %}">Retour</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
