{% extends 'Base/base.html' %}

{% block content %}
<style>
    /* Appliquer HelveticaNeue à l'ensemble du bloc de contenu */
    body {
        font-family: 'HelveticaNeue', sans-serif;
    }

    /* Style personnalisé pour les boutons */
    .btn-custom {
        background-color: #072C84;
        color: white;
        font-family: 'HelveticaNeue', sans-serif; /* Assurez-vous que la police est également appliquée ici */
    }

    /* Autres styles pour le tableau, titres, etc. */
    h4, h6 {
        font-family: 'HelveticaNeue', sans-serif;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">KHAGest</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'menu' %}">Accueil</a></li>
                    <li class="breadcrumb-item active">Liste des dépenses</li>
                </ol>
            </div> 
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                      <h6 class="mb-0">Consulter la liste des dépenses</h6>
                    </div>
                    <div class="col-6 text-end">
                      <a class="btn btn-danger waves-effect waves-light" href="{% url 'ajouter_depense' %}"><iconify-icon icon="mdi:content-save-plus"></iconify-icon>  Dépense</a>
                    </div>
                </div>
                <br><br>
                  <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                    <thead class="table-light">
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Client</th>
            <th>Montant</th>
            <th>nbreaide</th>
            <th>dateaide</th>
            <th>montant_aide</th>
            <th>Statut</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
            {% for aide in aides %}
        <tr>
            <td>{{ aide.id }}</td>
            <td>{{ aide.date_aide }}</td>
            <td>{{ aide.client }}</td>
            <td>{{ aide.montant_aide }}</td>
            <td>{{ aide.nbreaide }}</td>
            <td>{{ aide.dateaide }}</td>
            <td>{{ aide.montant_aide }}</td>
            <td>{{ aide.statut }}</td>
            <td>
                <div class="btn-group"> 
                    <button class="btn btn-secondary btn-sm" type="button">
                        Actions 
                    </button>
                    <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <iconify-icon icon="mdi:chevron-down-circle"></iconify-icon>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{% url 'aide_detail' aide.id %}">Voir</a> 
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'delete_aide' aide.id %}">Cotiser</a>
                            <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'update_aide' aide.id %}">Modifier</a> 
                        <a class="dropdown-item" href="{% url 'delete_aide' aide.id %}">Supprimer</a>
                    </div>
                </div>
            </td>
        </tr>
        {% empty %}
            <tr>
                <td colspan="3">Aucune donnée disponible.</td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>


</div>
</div>
</div> <!-- end col -->
</div> <!-- end row -->
{% endblock %}
