{% extends 'Base/base.html' %}

{% block content %}
<style>
    /* Appliquer HelveticaNeue à l'ensemble du bloc de contenu */
    body {
        font-family: 'HelveticaNeue', sans-serif;
    }

    /* Style personnalisé pour les boutons */
    .btn-custom {
        background-color: #072C84;
        color: white;
        font-family: 'HelveticaNeue', sans-serif; /* Assurez-vous que la police est également appliquée ici */
    }

    /* Autres styles pour le tableau, titres, etc. */
    h4, h6 {
        font-family: 'HelveticaNeue', sans-serif;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Détails du Compte principal de KHA Coop</h4>
            <div class="page-title-right">
                <a href="{% url 'courbe_transactions' %}" class="btn btn-primary">Retour à la liste</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Informations sur le Compte principal de KHA Coop</h5>
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <th>Capital</th>
                            <td style="font-weight: bold; color: rgb(0, 21, 255);"> 
                                {{ compte_pret.capital }} Fcfa
                            </td>
                        </tr>
                        <tr>
                            <th>Date capital</th>
                            <td>{{ compte_pret.datecapital }}</td>
                        </tr>
                        <tr>
                            <th>Total Entrée</th>
                            <td style="font-weight: bold; color: red;">{{ compte_pret.totalentree }}F CFA</td>
                        </tr>
                        <tr>
                            <th>Date total entrée</th>
                            <td>{{ compte_pret.dateentree }}</td>
                        </tr>
                        <tr></tr>
                            <th>Total Sortie</th>
                            <td style="font-weight: bold; color: red;">{{ compte_pret.totalsortie }}F CFA</td>
                        </tr>
                        <tr>
                            <th>Date total sortie</th>
                            <td>{{ compte_pret.datesortie }}</td>
                        </tr>
                        <tr>
                            <th>Total Dépense</th>
                            <td style="font-weight: bold; color: red;">{{ compte_pret.totalentree }}F CFA</td>
                        </tr>
                        <tr>
                            <th>Date total depense</th>
                            <td>{{ compte_pret.datedepense }}</td>
                        </tr>
                        <tr>
                            <th>Total Gain</th>
                            <td style="font-weight: bold; color: red;">{{ compte_pret.totalgain }}F CFA</td>
                        </tr>
                        <tr>
                            <th>Date total gain</th>
                            <td>{{ compte_pret.dategain }}</td>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
</div>

{% endblock content %}
