{% extends 'Base/base.html' %}

{% block content %}
 <!-- start page title -->
 <style>
    .btn-custom {
        background-color: #072C84;
        color: white;  
    } 
    .custom-title {
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 24px;
    color: #072C84;
    font-weight: bold;  /* Vous pouvez ajuster cela si vous souhaitez un texte plus gras */
    }
    .custom-kha {
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 24px;
    color: #b64b19;
    font-weight: bold;  /* Vous pouvez ajuster cela si vous souhaitez un texte plus gras */
    }
    body {
        font-family: 'HelveticaNeue', sans-serif;
    }

</style>
 <div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="custom-kha">KHA coop</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">Organigramme</li>
                </ol>
            </div>

        </div> 
    </div>
</div>
<!-- end page title -->

<div class="row">

    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <!-- Affichage du donut des enseignants par genre -->
                <div id="donut-enseignants" style="height: 300px; width: 300px;"></div>

                <!-- Script pour créer le graphique -->
                <script>
                    // Récupérer les données des enseignants par genre depuis le contexte Django
                    var maleCount = {{ male_countens }};
                    var femaleCount = {{ female_countens }};

                    // Créer le graphique en forme de donut
                    var data = [{
                        values: [maleCount, femaleCount],
                        labels: ['Hommes', 'Femmes'],
                        type: 'pie',
                        hole: 0.4
                    }];

                    var layout = {
                        title: {
                            text: 'RÉPARTITION DES CLIENTS PAR GENRES',
                            font: {
                                family: 'HelveticaNeue',
                                size: 12
                            }
                        },
                        height: 300,
                        width: 300,
                        font: {
                            family: 'HelveticaNeue',  // Police pour tout le texte du graphique
                            size: 12  // Taille de police globale
                        }
                    };

                    Plotly.newPlot('donut-enseignants', data, layout);
                </script>
                

            </div>
        </div>
    </div> <!-- end col -->

    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                
                        <div id="donut-graph" style="height: 300px; width: 300px;"></div>
                    
            
                <script>
                    var data = [{
                        values: [{{ echeances_payees }}, {{ echeances_non_payees }}],
                        labels: ['Payées', 'Non Payées'],
                        type: 'pie',
                        marker: {
                            colors: ['#827a7b', '#9e0512'] // Remplacez ces couleurs par celles de votre choix
                        }
                    }];
            
                    var layout = {
                        title: {
                            text: 'RÉPARTITION DES ÉCHÉANCES PAYÉES ET NON PAYÉES',
                            font: {
                                family: 'HelveticaNeue',
                                size: 11
                            }
                        },
                        font: {
                            family: 'HelveticaNeue',  // Police pour tout le texte du graphique
                            size: 12  // Taille de police globale
                        }
                    };
            
                    Plotly.newPlot('donut-graph', data, layout);
                </script>
                

            </div>
        </div>
    </div> <!-- end col -->

    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <div id="donut-transactions" style="height: 300px; width: 300px;"></div>

                <!-- Script pour créer le graphique -->
                <script>
                    // Récupérer les données des transactions par type depuis le contexte Django
                    var depotCount = {{ depot_count }};
                    var retraitCount = {{ retrait_count }};
                    var virementCount = {{ virement_count }};

                    // Créer le graphique en forme de donut
                    var data = [{
                        values: [depotCount, retraitCount, virementCount],
                        labels: ['Dépôt', 'Retrait', 'Virement'],
                        type: 'pie',
                        marker: {
                            colors: ['#0a0763', '#9291a3', '#0a0a12'] // Remplacez ces couleurs par celles de votre choix
                        },
                        hole: 0.4
                    }];

                    var layout = {
                        title: {
                            text: 'RÉPARTITION DES TRANSACTIONS PAR TYPE',
                            font: {
                                family: 'HelveticaNeue',
                                size: 12
                            }
                        },
                        height: 300,
                        width: 300,
                        font: {
                            family: 'HelveticaNeue',  // Police pour tout le texte du graphique
                            size: 12  // Taille de police globale
                        }
                    };

                    Plotly.newPlot('donut-transactions', data, layout);
                </script>
            </div>
        </div>
    </div> <!-- end col -->

</div> <!-- end row -->

<div class="row row-sm">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                
               <!-- Affichage de la courbe des transactions de prêt -->
                <!-- Div pour afficher le graphique à barres -->
                <h4 class="custom-title">Transactions par type sur les comptes epargnes</h4> 

                <div>
                    <canvas id="bar-chart" width="400" height="200"></canvas>
                </div>
                
                <script>
                    var ctx = document.getElementById('bar-chart').getContext('2d');
                    var barChart;
                
                    // Fonction pour créer le graphique à barres
                    function createBarChart(data) {
                        if (barChart) {
                            barChart.destroy();
                        }
                
                        barChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: Object.keys(data),
                                datasets: [
                                    { label: 'Dépôt', data: Object.values(data).map(item => item.Depot) },
                                    { label: 'Retrait', data: Object.values(data).map(item => item.Retrait) },
                                    { label: 'Virement', data: Object.values(data).map(item => item.Virement) }
                                ]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                        ticks: {
                                            precision: 0
                                        }
                                    }
                                }
                            }
                        });
                    }
                
                    // Charger les données JSON et créer le graphique
                    var transactionsData = {{ transactions_data | safe }};
                    createBarChart(transactionsData);
                </script>
                
                

            </div>
        </div>
    </div> <!-- end col -->
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                

                <!-- Créer un élément canvas pour le graphique à barres -->
                <h4 class="custom-title">Transactions par type sur les comptes prets</h4> 
                <div>
                    <canvas id="bar-chartp" width="400" height="200"></canvas>
                </div>
                
                <script>
                    var ctx = document.getElementById('bar-chartp').getContext('2d');
                    var barChartp;
                
                    // Fonction pour créer le graphique à barres
                    function createBarChart(data) {
                        if (barChartp) {
                            barChartp.destroy();
                        }
                
                        barChartp = new Chart(ctx, {
                            type: 'bar',
                            
                            data: {
                                labels: Object.keys(data),
                                datasets: [
                                    { label: 'Échéance',
                        data: Object.values(data).map(item => item.Depot),
                        backgroundColor: 'rgba(255, 0, 0, 0.6)', // Couleur rouge avec opacité
                        borderColor: 'rgba(255, 0, 0, 1)', // Couleur bordure
                        borderWidth: 1
                    }
                                ]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true,
                                        ticks: {
                                            precision: 0
                                        }
                                    }
                                }
                            }
                        });
                    }
                
                    // Charger les données JSON et créer le graphique
                    var transactionsData = {{ transactions_pret_data | safe }};
                    createBarChart(transactionsData);
                </script>
                

    

    



            </div>
        </div>
    </div> <!-- end col -->
</div>

{% endblock content %}
