<!-- liste_actionnaires.html -->
{% extends 'Base/base.html' %}

{% block content %}
<!-- start page title -->
<style>
    /* Appliquer HelveticaNeue à l'ensemble du bloc de contenu */
    body {
        font-family: 'HelveticaNeue', sans-serif;
    }

    /* Style personnalisé pour les boutons */
    .btn-custom {
        background-color: #072C84;
        color: white;
        font-family: 'HelveticaNeue', sans-serif; /* Assurez-vous que la police est également appliquée ici */
    }

    /* Autres styles pour le tableau, titres, etc. */
    h4, h6 {
        font-family: 'HelveticaNeue', sans-serif;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">KHA Coop</h4>

            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="{% url 'courbe_transactions' %}">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">Liste des Actionnaires Actifs</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-6 d-flex align-items-center">
                        <h6 class="mb-0">Consulter la liste des Actionnaires Actifs</h6>
                    </div>
                    <div class="col-6 text-end">
                        <a class="btn btn-custom waves-effect waves-light" href="{% url 'ajouter_actionnaire' %}"><iconify-icon icon="mdi:content-save-plus"></iconify-icon>  Nouveau</a>
                    </div>
                </div><br><br>
                <table id="datatable-buttons" class="table table-bordered dt-responsive nowrap w-100">
                    <thead class="table-light">
                <tr>
                    <th>Nom</th>
                    <th>Prénoms</th> 
                    <th>Téléphone</th>
                    <th>Apport</th>
                    <th>Part (%)</th>
                    <th>Gain</th>
                    <th width=30px></th>
                </tr>
            </thead>
            <tbody>
                {% for actionnaire in actionnaires %}
                <tr>
                    <td>{{ actionnaire.nom }}</td>
                    <td>{{ actionnaire.prenom }}</td>
                    <td>{{ actionnaire.telephone }}</td>
                    <td>{{ actionnaire.apport }} FCFA</td> 
                    <td>{{ actionnaire.pourcentage }}%</td>
                    <td>{{ actionnaire.dividende }} F</td>
                    <td class="text-end">
                        <div class="btn-group">
                            <button class="btn btn-secondary btn-sm" type="button">
                                Actions
                            </button>
                            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                <iconify-icon icon="mdi:chevron-down-circle"></iconify-icon>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'detail_compte_cooperateur' actionnaire.id %}">Voir les détails du compte Coopérateur</a>
                                <a class="dropdown-item" href="{% url 'detail_actionnaire' actionnaire.id %}">Voir</a>

                        <div class="dropdown-divider"></div> <!-- Séparateur ici -->
                        
                        <a class="dropdown-item" href="{% url 'modifier_actionnaire' actionnaire.id %}">Modifier</a>
                        <a class="dropdown-item" href="{% url 'supprimer_actionnaire' actionnaire.id %}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet actionnaire ?')">Supprimer</a>
                          <!-- MAJ -->     
                          <div class="dropdown-divider"></div> <!-- Séparateur ici -->

                        <a class="dropdown-item" href="{% url 'message_actionnaire' actionnaire.id %}">Message</a>

                        <div class="dropdown-divider"></div> <!-- Séparateur ici -->

                        <a class="dropdown-item" href="{% url 'change_username' actionnaire.user.id %}">Identifiant</a>
                        <a class="dropdown-item" href="{% url 'change_password' actionnaire.user.id %}">Mot de passe</a>
                                <!-- Fin MAJ -->   
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
</div>
</div>
</div>
{% endblock content %}
