{% extends 'Base/base.html' %}

{% block content %}
<style>
    body {
        font-family: 'HelveticaNeue', sans-serif;
    }

    .btn-custom {
        background-color: #072C84;
        color: white;
        font-family: 'HelveticaNeue', sans-serif;
    }

    h4, h6 {
        font-family: 'HelveticaNeue', sans-serif;
    }
</style>

<div class="row">
    <div class="col-12">
        <h4>Résultats financiers du mois</h4>
        <p>Bénéfice du mois pour le projet: {{ benefice_mois }} FCFA</p>
        <p>Dépenses du mois pour le projet: {{ depenses_mois }} FCFA</p>
        <p>Montant à répartir entre les actionnaires: {{ montant_a_repartir }} FCFA</p>
        <p>Montant à répartir pour le gérant: {{ montant_a_repartir_type_chef }} FCFA</p>

        <!-- Affichage pour les actionnaires de type 1 -->
        <div class="row">
            <div class="col-12">
                <h4>Coopérateurs</h4>
                <div class="card">
                    <div class="card-body">
                        <table id="datatable-type1" class="table table-bordered dt-responsive nowrap w-100">
                            <thead class="table-light">
                                <tr>
                                    <th>Alias</th>
                                    <th>Nom de l'actionnaire</th>
                                    <th>Téléphone</th>
                                    <th>Apport</th>
                                    <th>Part (%)</th>
                                    <th>Montant à payer</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for actionnaire in actionnaires_type_1 %}
                                    <tr>
                                        <td>{{ actionnaire.prenom }}</td>
                                        <td>{{ actionnaire.nom }}</td>
                                        <td>{{ actionnaire.telephone }}</td>
                                        <td>{{ actionnaire.apport }} FCFA</td>
                                        <td>{{ actionnaire.part }}%</td>
                                        <td>{{ actionnaire.montant_a_payer }} FCFA</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- Affichage pour les actionnaires de type 2 -->
        <div class="row">
            <div class="col-12">
                <h4>Sous-coopérateurs</h4>
                <div class="card">
                    <div class="card-body">
                        <table id="datatable-type2" class="table table-bordered dt-responsive nowrap w-100">
                            <thead class="table-light">
                                <tr>
                                    <th>Alias</th>
                                    <th>Nom de l'actionnaire</th>
                                    <th>Téléphone</th>
                                    <th>Apport</th>
                                    <th>Part (%)</th>
                                    <th>Montant à payer</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for actionnaire in actionnaires_type_2 %}
                                    <tr>
                                        <td>{{ actionnaire.prenom }}</td>
                                        <td>{{ actionnaire.nom }}</td>
                                        <td>{{ actionnaire.telephone }}</td>
                                        <td>{{ actionnaire.apport }} FCFA</td>
                                        <td>{{ actionnaire.part }}%</td>
                                        <td>{{ actionnaire.montant_a_payer }} FCFA</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<style>
    .non-actif {
        color: red;
    }
</style>
{% endblock content %}
